/**Bat dau trang tri phan GIUA**/
section {
    width: 70%;
    height: 100%;
    background-color: coral;
}

section div.title {
    width: 896px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.title p {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

section div.dangki {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 896px;
    height: 541px;
}

section div.dangki div.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 496px;
    height: 380px;
    margin: 0 auto;
}

section div.dangki div.form div#name {
    width: 100px;
    vertical-align: middle;
}

section div.dangki div.form form table tr td p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 30px;
}

section div.dangki div.form form table tr td input[type=text], input[type=email], input[type=date] {
    width: 200px;
    height: 30px;
}

section div.dangki div.form form table tr td input[type=submit], input[type=reset] {
    width: 58px;
    height: 28px;
    font-size: 16px;
    color: #262626;
    background-color: white;
    border: none;
}

section div.dangki div.form form table tr td input[type=submit]:hover, input[type=reset]:hover {
    cursor: pointer;
    color: white;
    background-color: #262626;
}