* {
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    min-height: 1080px;
    margin: 0 auto;
    border: red solid 1px;
    position: relative;
}

/**Bat dau trang tri phan HEADER**/
header {
    width: 1290px;
    height: 230px;
}
/**Ket thuc trang tri phan HEADER**/



/**Bat dau trang tri phan NAV**/
nav {
    width: 1280px;
    height: 45px;
    background-color: royalblue;
}

/**Phan slide**/

article div.slide {
    position: relative;
    width: 1280px;
    height: 300px;
}

article div.slide div img {
    position: absolute;
    opacity: 0;
    width: 1280px;
    height: 300px;
}

article  img#pre, article  img#nex {
    cursor: pointer;
    position: absolute;
    z-index: 100;
}

article  img#pre {
    top: 128px;
    left: 0;
}

article  img#nex {
    top: 128px;
    right: 0;
}

/**Bat dau trang tri phan MENU**/
nav ul li {
    background-color: royalblue;
    color: white;
    list-style-type: none;
    display: inline-table;
    width: 120px;
    height: 100%;
    line-height: 45px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

nav ul li> .smenu {
    display: none;
    position: absolute;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
    background-color: white;
}

nav ul li:hover .smenu {
    display: block;
}

/**Ket thuc trang tri phan MENU**/

/**Ket thuc trang tri phan NAV**/



/**Bat dau trang tri phan BODY**/
article {
    display: table-cell;
    max-width: 1280px;
    max-height: 641px;
}

section, aside {
    display: inline-table;
    vertical-align: top;
    height: 1080px;
}

/**Bat dau trang tri phan GIUA**/
section {
    width: 896px;
    height: 641px;
    background-color: coral;
}

section div.sim {
    float: left;
    width: 278.64px;
    height: 300.63px;
    margin: 10px 10px 10px 10px;
}

section div.sim > img {
    width: 278.64px;
}

section div.sim:hover {
    transform: scale(1.1);
}

section div.sim {
    background-color: white;
}

section div.sim > p {
    text-align: center;
    font-weight: bold;
    color: blue;
}

section div.sim p > span#nonsale {
    color: grey;
    text-decoration: line-through;
}

/**Ket thuc trang tri phan GIUA**/


/**Bat dau trang tri phan BEN PHAI**/
aside {
    float: right;
    width: 384px;
    height: 641px;
    background-color: darkblue;
}

aside div.news {
    margin: 5px 5px 5px 5px;
    display: block;
    width: 374px;
    height: 118px;
}

aside div.news:hover {
    background-color: rgb(0, 0, 61);
}

aside div.news p > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

aside div.img img {
    margin-right: 10px;
    width: 192px;
    height: 96px;
    float: left;
}

.title_right {
    width: 384px;
    height: 20px;
    background-color: mediumblue;
}

.title_right p {
    text-align:  center;
    font-weight: bold;
    color: white;
}
/**Ket thuc trang tri phan BEN PHAI**/


/**Ket thuc trang tri phan BODY**/



/**Bat dau trang tri phan FOOTER**/
footer div {
    background-color: royalblue;
    height: 164px;
}

footer p {
    padding-top: 82px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: italic;
}
/**Ket thuc trang tri phan FOOTER**/