@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Franklin Gothic';
    src: url(../fonts/Franklin-Gothic-Heavy-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Black';
}

body {
    width: 1920px;
    min-height: 979px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*TRANG TRI PHAN BODY*/
article.body p, article.body a, article.body li, article.body span {
    font-family: 'Roboto-Regular';
}

article.body {
    width: 1920px;
    height: 979px;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*LIEN KET*/
article.body div.lienket {
    margin-bottom: 50px;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

article.body div.lienket span a {
    cursor: pointer;
    font-family: 'Roboto-Bold';
    color: #262626;
    transition: all 0.4s;
}

article.body div.lienket span a:hover {
    color: #FCD700;
}

/*THANKS*/
article.body div.thank {
    width: 640px;
}

article.body div.thank p#text {
    margin: 20px 0;
    font-size: 22px;
}

article.body div.thank p#lk span {
    display: inline-block;
    width: 160px;
}

article.body div.thank p#lk span a {
    cursor: pointer;
    font-family: 'Roboto-Bold';
    color: #262626;
    transition: all 0.4s;
    font-size: 18px;
}

article.body div.thank p#lk span a:hover {
    color: #FCD700;
}

article.body div.thank p#text span a {
    color: #262626;
    transition: all 0.4s;
}

article.body div.thank p#text span a:hover {
    background-color: #262626;
    color: white;
}